<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/Theme.HudLabClusterProbe">

        <activity
            android:name=".ClusterProbeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="landscape"
            android:taskAffinity="dezz.status.hudlab.clusterprobe.task" />

    </application>

</manifest>
